.hero {
    width: 100%;
    aspect-ratio: 4 / 1;
    background-image: url("banner3.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    padding: 10px;
    box-sizing: border-box;
}

body {
    background-color: #EDE6D8;

}
.hero-logo{
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    width: 25%;
    max-width: 400px;
    height: auto;

    
}

.hero-nav{
    position: absolute;
    top: 50%;
    
    transform: translateY(-50%);
    left: 38%;
    width: 50%;
    max-width: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    white-space: nowrap;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}


.btn {
    margin-left: auto;
    display: inline-block;
    padding: 10px 20px;
    background: #A7C7E7;
    color: #1B4332;
    text-decoration: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

/* header finishes here 
-
-
-
-
*/
/*Home Content*/
.home-h1 {
    text-align: center;
    font-family: 'Instrument Serif', serif;
    font-weight: 800;
    font-size: 48px;
    text-transform: uppercase;
    word-spacing: 25px;
    color: #1B4332;
}

.home-p {
    color: #1B4332;
    font-family: 'Instrument Serif', serif;
    font-style: italic;
    font-size: 20px;

}
.home-section{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 40px 60px;
}

.home-text{
    flex: 1;
    font-family: 'Instrument Serif', serif;
    font-weight: 400px;
    font-size: 35px;
    text-transform: none;
    color: #1B4332;
}

.home-img {
   display: block;
   margin: 5px auto 20px;
   width: 60%;
   max-width: 100%;
   height: auto;
   border-radius: 20px;
}

body {
    overflow-x: hidden;
}

/*FOOTER HERE*/
.footer-logo{
    position: absolute;
    top: 35%;
    left: 1%;
    transform: translateY(-50%);
    width: 50%;
    max-width: 400px;
    height: auto;

    
}

.hero-footer{
    background-color: #1b4332;

    position: relative;
    width: 100%;
    /*aspect-ratio: 4 / 1;*/
    /*background-image: url("banner3.svg");*/
    /*background-size: contain;
    background-position: center;
    background-repeat: no-repeat;*/
    

    padding: 40px 10px 20px;
    box-sizing: border-box;
    padding-top: 80px;
}

.footer-content p{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 400;
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 100px;
    padding-bottom: 30px;
    padding-left: 45px;

    color: #fff;

}

.footer-column h4{
    margin-bottom: 15px;
    font-weight: bold;

    color: #A7C7E7;
;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-column a, .footer-column p{
    display: block;
    margin-bottom: 8px;
    color: inherit;
    text-decoration: none;
    
    
}

.footer-column a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;

    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
.footer-bottom{
    position: relative;
    /*bottom: 0;
    left: 0;*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    

    color: #fff;
    text-decoration: none;
    font-size: 0.8rem;
    white-space: nowrap;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;

}

.footer-top {
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    
}

.footer-social {
    margin-top: 15px;
    display: flex;
    gap: 12px;
}

.footer-social a {
    color: #fff; 
    font-size: 1.2rem; 
    text-decoration: none; 
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #A7C7E7;
}

ul.no-bullets {
    list-style-type: none;
    padding: 0%;
    margin: 0;
}

/* FOOTER ENDS HERE 
-
-
-
-*/

/* ACTIVITIES */

.activities-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: 30px;
    padding-left: 45px;
    margin-bottom: 80px;
}

.thumbnail-img {
    display: block;
    margin: 5px auto 20px;
    width: 80%;
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.activity-img {
    display: block;
    margin: 10px auto 20px;
    width: 70%;
    max-width: 100%;
    height: 10%;
    border-radius: 20px;
    margin-bottom: 30px;
}

.activities-column {
    padding-right: 20px;
    border-right: 2px solid #1B4332;
}

.activities-column:last-child {
    border-right: none;
}

.activities-content h3 {

    font-family: 'Instrument Serif', serif;
    color: #1B4332;
    text-align: center;
    font-weight: 800;
    margin-top: -30px;
}

.activities-content h2{
    text-align: center;
    font-family: 'Instrument Serif', serif;
    font-weight: 800;
    font-size: 32px;
    text-transform: uppercase;
    word-spacing: 5px;
    color: #1B4332;
    margin-bottom: -10px;
    text-decoration: underline;
}

.activities-content p{
    text-align: center;
    font-family: 'Instrument Serif', serif;
    color: #1B4332;
    font-size: 20px;
    margin-top: -20px;
    margin-bottom: 20px;
    
}

.activities-content h1{
    text-align: center;
    font-family: 'Instrument Serif', serif;
    font-weight: 800;
    font-size: 48px;
    text-transform: uppercase;
    word-spacing: 5px;
    color: #1B4332;
}

.activities-pictures {
    margin-bottom: 80px;
}

.activities-pictures a{
    
    color: #1B4332;
    
    font-family: 'Instrument Serif', serif;
    font-weight: 400;

}

.review-p{
    text-align: center;
    font-size: 32px;
    font-family: 'Instrument Serif', serif;
    color: #1B4332;
    font-style: italic;
    font-weight: 800;
}

.activities-column h5, .activities-column a{
    font-family: 'Instrument Serif', serif;
    color: #1B4332;
    text-align: center;
    font-weight: 800;
    font-size: 25px;
    
}

/* ACTIVITIES END HERE*/

/* FEEDBACK HERE*/
.feedback-h2 {
    text-align: center;
    font-family: 'Instrument Serif', serif;
    font-weight: 800;
    font-size: 32px;
    word-spacing: 5px;
    color: #1B4332;
    margin-bottom: 30px;
}    

.feedback-content {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: repeat(2, 0.5);
    gap: 20px;
    margin-bottom: 80px;
}

.feedback-text {
    background-color: #1B4332;
    color: #fff;
    border-radius: 20px;
    height: auto;
    text-align: center;
}

.feedback-img {
    display: block;
    width: 50%;
    max-width: 100%;
    height: 20%;
    border-radius: 20px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
}

.feedback-p {
    color: #1B4332;
    font-family: 'Instrument Serif', serif;
    text-align: center;
    font-weight: 800;
    font-size: 32px;
}
/**ABOUT US**/

.info-p {
    text-align: left;
    color: #1B4332;
    font-family: 'Instrument Serif', serif;
    font-size: 25px;
    font-weight: 400;
   
}

.staff {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: 30px;
    padding-left: 45px;
    justify-content: center;
}

.staff-img {
    display: block;
    margin: 20px  30px;
    width: 80%;
    max-width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
}

.staff-h3 {
    color: #1B4332;
    font-family: 'Instrument Serif', serif;
    text-align: center;
    font-size: 32px;
}

.staff-p {
    color: #1B4332;
    font-family: 'Instrument Serif', serif;
    text-align: center;
    font-size: 24px;
}

p a{
    color: #1B4332;
}
/**ABOUT US END**/

.beach {
    display: block;
    border-radius: 20px;
    width: 50%;
    max-width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.request-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;  
    text-align: center;  
    font-family: 'Instrument Serif', serif;
    color: #1B4332;
    font-weight: 800;
    font-size: 24px;
    padding-bottom: 20px;
}

.request-form input, .request-form textarea {
    width: 100%;
    padding: 12px 15px;
    border: 2px solid #1B4332;
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Instrument Serif', serif;
    background-color: #f8f8f8;
    color: #1B4332;
    box-sizing: border-box;
    
}


.submit-btn {
    padding: 10px;
    background-color: #1B4332;
    color: #EDE6D8;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Instrument Serif', serif;
    font-weight: 800;
    font-size: 24px;
}